.container {
  max-width: 720px;
  margin: 0 auto;
  padding: 0 1rem;
}

.navbar {
  background-color: #4caf50;
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.main {
  padding: 2rem 0;
}
