.container {
  max-width: 720px;
  margin: 0 auto;
  padding: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

.winnersTable {
  width: 100%;
  display: table;
}

.winnersTableTitle {
  text-align: left;
  margin: 1rem 0;
}

.winnersTableHeader {
  display: table-header-group;
  font-weight: bold;
  background-color: var(--color-tertiary);
  color: white;
  text-align: left;
}

.winnersTableRow {
  display: table-row;
  border-bottom: 1px solid black;
}

.winnersTableCell {
  display: table-cell;
  padding: 0.5rem;
  border: 1px solid var(--color-border);
}

.addressCell {
  word-break: break-all;
}
