/* Variables */
:root {
  --color-primary: #2b059c;
  --color-secondary: #064e91;
  --color-tertiary: #103b52;
  --color-darkened: #dee7e7;
  --color-background: #f4faff;
  --color-text: #00171f;
  --font-family: 'Arial, sans-serif';
}

/* Basic CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--color-background);
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  color: var(--color-text);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}
